@import "tailwindcss";

:root {
  --background: #fdf2ac;
  --foreground: #500606;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins), Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
